@using MvcKutuphane.Models.Entity
@model List<TBLKİTAP>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<h2>Kitap Sayfası</h2>
@using (Html.BeginForm("Index", "Kitap", FormMethod.Get))
{

    <div style="margin-bottom:15px; margin-top:15px;">
       <b>Arancak Kitap Adını Giriniz...</b>@Html.TextBox("p")
        <input type="submit" value="Ara" />
    </div>
}

<table class="table table-bordered">
    <tr>
        <th>ID</th>
        <th>Kitap Adı</th>
        <th>Kitap Yazarı</th>
        <th>Kategorisi</th>
        <th>Basım Yılı</th>
        <th>Yayın Evi</th>
        <th>Sayfa</th>
        <th>Durum</th>
        <th>Sil</th>
        <th>Güncelle</th>
    </tr>
    @foreach (var k in Model)
    {
        <tr>
            <td>@k.ID</td>
            <td>@k.AD</td>
            <td>@k.TBLyazar.AD @k.TBLyazar.SOYAD</td>
            <td>@k.TBLKategori.ADI </td>
            <td>@k.BASIMYIL</td>
            <td>@k.YAYINEVİ</td>
            <td>@k.SAYFA</td>>
            <td>@k.DURUMU</td>
            <td>
                <a href="/Kitap/KİtapSil/@k.ID" class="btn btn-danger">Sil</a>
            </td>
            <td><a href="/Kitap/KİtapGetir/@k.ID" class="btn btn-success">Güncelle</a></td>


        </tr>
    }

</table>
<a href="/Kitap/KitapEkle" class="btn btn-primary">Yeni Kitap Ekle</a>


