@model MvcKutuphane.Models.Entity.TBLUYELER
@{
    ViewBag.Title = "UyeGetir";
    Layout = "~/Views/Shared/Layout.cshtml";
}

@using (Html.BeginForm("UyeGuncelle", "Uye", FormMethod.Post))
{
    <div style="margin-bottom:15px"></div>

    <div class="form-group">
        @Html.LabelFor(k => k.ID)
        @Html.TextBoxFor(K => K.ID, new { @class = "form-control" })
        <br />
        <label>Üye Adı</label>
        @Html.TextBoxFor(K => K.AD, new { @class = "form-control" })
        <br />
        <label>Üye Soyadı</label>
        @Html.TextBoxFor(K => K.SOYAD, new { @class = "form-control" })
        <br />
        <label>Mail</label>
        @Html.TextBoxFor(K => K.MAIL, new { @class = "form-control" })
        <br />
        <label>Kullancı Adı</label>
        @Html.TextBoxFor(K => K.KULLANICIADI, new { @class = "form-control" })
        <br />
        <label>Şifre</label>
        @Html.TextBoxFor(K => K.SIFRE, new { @class = "form-control" })
        <br />
        <label>Telefon</label>
        @Html.TextBoxFor(K => K.TELEFON, new { @class = "form-control" })
        <br />
        <label>Okul</label>
        @Html.TextBoxFor(K => K.OKUL, new { @class = "form-control" })

    </div>
    <div>
        <button class="btn btn-warning">Güncelle</button>
    </div>
}

